html { background-color: #78878F
    
}

.header { display: flex;
    background-color:#E0DBCB;
    justify-content:space-between;
    align-items: center;
    padding: 1%;

}

.wrapper { 
    display: flex;
    justify-content:center;
    align-items: center;
}

.content-body {
    width: 960 px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

}

.image {
    display: flex;
    border-radius: 4px;
}

.workhistory 
{
    background-color: #19252c;
    display: flex;
    flex: 50%;

    
}

p, input, li {
    
}

footer {
    
}