html { background-color: #78878F
    
}

.header { display: flex;
    background-color:#E0DBCB;
    justify-content:space-between;
    align-items: center;
    padding: 1%;
    margin-bottom: 15px;

}

@media screen and (max-width: 1000px){
.wrapper { 
    display: flex;
    justify-content:center;
    align-items: center;
}

.content-body {
    width: 960 px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;

}

.resume-img {
    display: flex;
    border-radius: 4px;
    border: 1px solid black;
}
.image-caption{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly:
}

.workhistory 
{
    background-color: #19252c;
    display: flex;
    flex: 50%;

    
}
}
