.resume-body {
    background-color:#a9abb1;
}

.header {
    display: flex;
    background-color:#072c4e;
    justify-content: space-between;
    margin: 15px;
    width: 100%;
}
.resume-name{
    color:#FFFFFF;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.image-description {
    display:flex;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:#FFFFFF;
    flex-flow:column wrap;
    margin: 15%;
}
.image {
    width: 300 px;
    height: 300 px;
    border-radius: 4px;
    display: flex;

}
.image-body {
    display:flex;
    flex-flow: row wrap;
    width: 300 px;
    border-radius: 4px;
    flex: 1;

}

.work-history{
    background-color:#FFFFFF;
    padding: 20 px;
    width: 600% px;
    padding-left: 5px;
}

.content-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:960 px;
}
.wrapper{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    .resume-body {
        background-color:#a9abb1;
    }
    
    .header {
        display: flex;
        background-color:#072c4e;
        justify-content: space-between;
        margin: 15px;
        width: 100%;
    }
    .resume-name{
        color:#FFFFFF;
        font-size: 30px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .image-description {
        font-family: 'Source Sans Pro', sans-serif;
        background-color:#FFFFFF;
        align-self: center;
    }
    .image {
        display: flex;
        width: 300 px;
        height: 300 px;
        border-radius: 4px;
    
    }
    .image-body {
        display:flex;
        border-radius: 4px;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-bottom: 15px;
    
    }
    
    .work-history{
        background-color:#FFFFFF;
        margin-left: 5px;
        padding-left: 5px;
        width: 400 px;
        justify-content: center;
        display: flex;
    }
    
    .content-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width:960 px;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items:center;
    }